version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: product_analysis_mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: product_sentiment
    restart: unless-stopped

  fastapi:
    build: .
    container_name: product_analysis_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongodb
    environment:
      - MONGODB_URL=mongodb://mongodb:27017
    restart: unless-stopped
    volumes:
      - ./app:/app/app

volumes:
  mongodb_data:

